body {
  -bottom: 1000px;
}

.div1 {
  background-color: rgb(12, 237, 12);
}

.div2 {
  background-color: rgb(241, 25, 25);
}

.container1 {
  display: flex;
}

.container2 {
  display: flex;
  margin-top: 30px;
}

.container3 {
  display: flex;
  margin-top: 30px;
}

.header {
  display: flex;
  margin-top: 30px;
  height: 70px;
  border: 2px solid black;
  justify-content: center;
  align-items: center;

}


.flex-grow1 {
  flex-grow: 1;
  background-color: rgb(241, 25, 25);
}

.pixel-size {
  background-color: rgb(12, 237, 12);
  width: 100px;
}


.flex-grow2 {
  flex-grow: 2;
  background-color: rgb(241, 25, 25) ;
}

.header2 {
  display: flex;
  margin-top: 50px;
  border: solid 2px black;
  justify-content: center;
  height: 400px;
}

.item1 {
  display: flex;
  background-color: rgb(241, 25, 25);
  width: 200px;
  align-items: center;
  justify-content: center;
}

.item2 {
  display: flex;
  background-color: rgb(12, 237, 12);
  width: 200px;
  align-items: end;
}

