body {
  -bottom: 1000px;
}

.div1 {
  background-color: rgb(12, 237, 12);
}

.div2 {
  background-color: rgb(241, 25, 25);
}

.container1 {
  display: flex;
}

.container2 {
  display: flex;
  margin-top: 30px;
}

.container3 {
  display: flex;
  margin-top: 30px;
}

.header {
  display: flex;
  margin-top: 30px;
  height: 70px;
  border: 2px solid black;
  justify-content: center;
  align-items: center;

}

.header-item1 {
  width: 100px;
  background-color: rgb(241, 25, 25);
}

.header-item2 {
  width: 100px;
  background-color: rgb(12, 237, 12);
  
}

.header-item3 {
  width: 100px;
  background-color: rgb(241, 25, 25);
}

.flex-grow1 {
  flex-grow: 1;
  background-color: rgb(241, 25, 25);
}

.pixel-size {
  background-color: rgb(12, 237, 12);
  width: 100px;
}


.flex-grow2 {
  flex-grow: 2;
  background-color: rgb(241, 25, 25) ;
}

