


.thumbnail {
  width: 300px;
}

.gen-hor {
  width: 300px;
  display: inline-block;
  vertical-align: top;
}

.little-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}


p {
font-family: Roboto, Arial;
}

.first {
  margin: 0;
  font-weight:500;
  font-size: 16px;
  line-height: 22px;
}

.profil-pic {
  width: 80%;
  border-radius: 50px;
}


.second, .third {
  color: rgb(96, 96, 96);
  margin: 0;
  font-size: 14px;
}

.second {
margin: 7px 0 3px 0;
}

.searchbar {
  display: block;
}

