body {
  margin: 0;
}


.big-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 14px;
}


.thumbnail {
  width: 100%;
}

.little-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}


p {
font-family: Roboto, Arial;
}

.first {
  margin: 0;
  font-weight:500;
  font-size: 16px;
  line-height: 22px;
}

.profil-pic {
  width: 80%;
  border-radius: 50px;
}


.second, .third {
  color: rgb(96, 96, 96);
  margin: 0;
  font-size: 14px;
}

.second {
margin: 7px 0 3px 0;
}



