.header {
  display: flex;
  height: 55px;
  justify-content: space-between;
  margin: 0 20px 20px 20px;
}

.header-left {
  background-color: orange;
  width: 200px;

}

.header-center {
  background-color: blue;
  margin: 0 200px 0 200px;
  flex-grow: 1;
  max-width: 700px;
}

.header-right {
  background-color: orange;
  width: 200px;
}