body {
  margin-left: 20px;
}

p{
  font-family: Arial;
}

.first {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 5px;
}

.second {
  margin-top: 0;
  color: rgb(42, 42, 42) ;
}

.third {
margin: 20px 0 20px 0;
color: rgb(44, 44, 44);
}

.fourth {
  line-height: 25px;
}

.fifth {
  margin-top:100px;
  background-color: red;
  padding: 20px 20px 20px 40px;
  width: 600px;
  color: white;
}

.link {
  margin-left: 20px;
} 

.link:hover {
  color: yellow;
}

.link:active {
  color: green;
}
